* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

.header, .footer{
    background-color: #1F2937;
} 

.header{
    display: flex;
    justify-content: center;
    height: 400px;
    padding-bottom: 50px;
}

.footer{
    height: 50px;
}

ul{
    list-style-type: none;
}

a{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.navbar ul{
    display: flex;
    gap: 16px;
}

.navbar a{
    font-size: 14px;
}

.header .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.banner{
    display: flex;
    gap: 50px;
    color: white;
}

.banner h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.banner img {
    width: 400px;
    height: 200px;
}

.bannertext{
    width: 400px;
}

.bannertext p {
    margin-bottom: 6px;
    color: whitesmoke;
}

.one > h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

button{
    background-color: #3882f3;
    padding: 5px 25px;
    border-radius: 8px;
    border-color: transparent;
    color: white;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.square{
    width: 150px;
    height: 150px;
    border: #3882f3 solid 3px;
    border-radius: 16px;
}

.card{
    width: 150px;
    height: 300px;
}

.card p{
    text-align: center;
}

.two{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.two .quote{
    width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.two .by {
    text-align: end;
    font-weight: 900;
    font-size: 20px;
    margin-right: 80px;
}

.three{
    display: flex;
    justify-content: center;
    align-items: center;
}

.three .msjBody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    background-color: #3882f3;
    color: white;
}

.three button {
    border-color: white;
    height: 50px;
}

.three h3{
    font-weight: 900;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}